In [1]:
import utils
from sklearn.naive_bayes import MultinomialNB ##naive bayes is classification algorithm
from sklearn.preprocessing import LabelEncoder

In [2]:
url = "https://www.imdb.com/search/title/?groups=top_250&sort=user_rating"

In [3]:
response = utils.get_response(url) ##

In [4]:
genres = [i.split(",")[0].strip() for i in response.css("span.genre::text").extract()]

In [5]:
desc = [i.xpath("string()").extract_first().strip() for i in response.xpath("//p[@class='text-muted']")]

In [6]:
df = utils.text_to_df(desc)

In [7]:
df.head()

,10,12,17,1920s,1936,1969,2018,75,ability,about,...,would,wreaks,wrong,year,years,yet,yoda,york,young,younger
0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.223724,0.0,0.0,0.000000,0.0,0.0
1,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
2,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.188539,0.0,...,0.0,0.188539,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
3,0.0,0.0,0.0,0.227095,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.227095,0.0,0.0
4,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0

In [8]:
encoder = LabelEncoder()

In [9]:
genres_encoded = encoder.fit_transform(genres)

In [20]:
genres_encoded

array([6, 5, 0, 5, 1, 5, 3, 6, 0, 6, 1, 6, 8, 0, 1, 0, 3, 0, 6, 1, 1, 5,
       2, 6, 5, 4, 5, 5, 0, 5, 0, 6, 4, 2, 0, 6, 3, 6, 5, 3, 7, 0, 6, 2,
       0, 6, 2, 1, 0, 6], dtype=int64)

In [16]:
model = MultinomialNB()

In [17]:
model.fit(df,genres_encoded)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [24]:
predicted_genre=model.predict(df.iloc[0:1,:])
predicted_genre

array([6], dtype=int64)

In [25]:
encoder.inverse_transform(predicted_genre) # 6 stands for Drama

array(['Drama'], dtype='<U9')

In [19]:
model.predict_proba(df.iloc[0:1,:])

array([[0.16010402, 0.09916063, 0.05856217, 0.06025714, 0.03251139,
        0.15591334, 0.40209923, 0.01521945, 0.01617263]])

In [23]:
predicted_genres=model.predict(df.iloc[8:12,:]) ##prediction for 4 movies
encoder.inverse_transform(predicted_genres)

array(['Action', 'Drama', 'Action', 'Drama'], dtype='<U9')