# Introductino to Python

This notebook provides introduction to python and includes material covered during the lecture.<br>
 - Arithmetic operations
 - Built in functions
 - Variables
 - Lists
 - Dictionaries
 - Import statement
 - control flow
 - loop
 - functions
 - scraped first table

<b> 1.Arithmetic operations</b><br>
 +, -, *, /

In [45]:
5+5

10

In [46]:
5*5

25

In [47]:
5/5

1.0

In [48]:
5^5

0

In [49]:
5**5

3125

In [50]:
5**0.25

1.4953487812212205

In [51]:
25**0.5

5.0

In [52]:
6 % 4

2

<b>2.Built in functions</b><br>
print,type

In [53]:
5+5
2*10

20

In [54]:
print(5+5)
print(2*10)

10
20

In [55]:
type(4)

int

In [56]:
type(4.0)

float

In [57]:
type("5")

str

In [58]:
print(type("Name"))

<class 'str'>

<b>3.Python Variables</b><br>
A variable is a named location used to store data in the memory.<br>  For example,</b>

In [59]:
print(name)

Bob

In [60]:
name = "Bob"

In [61]:
print(name)

Bob

In [62]:
name = "Bob"
surname = 'Marley'

In [63]:
full_name = name + surname

In [64]:
print(full_name)

BobMarley

In [65]:
full_name = name + " " + surname

In [66]:
print(full_name)

Bob Marley

In [67]:
"Bob "*5

'Bob Bob Bob Bob Bob '

In [68]:
"Bob" + '5'

'Bob5'

In [69]:
len('Hrant')

5

In [70]:
my_name = "Hrant"

In [71]:
len(my_name)

5

In [72]:
my_name[5]

IndexError: string index out of range

In [73]:
my_name.upper()

'HRANT'

<b>4.Python Lists</b><br>
In Python programming, a list is created by placing all the items (elements) inside a square bracket [ ], separated by commas.<br> 
It can have any number of items.

In [74]:
name_list = ["Bob","Babken","Bagrat"]

In [75]:
print(name_list)

['Bob', 'Babken', 'Bagrat']

In [76]:
type(name_list)

list

In [77]:
len(name_list)

3

In [78]:
name_list[1]

'Babken'

In [79]:
name_list[0]

'Bob'

In [80]:
name_list[-1]

'Bagrat'

In [81]:
surname_list = ['Marley','Mikaelyan','Mesropyan']

In [82]:
print(surname_list)

['Marley', 'Mikaelyan', 'Mesropyan']

In [83]:
person_list = [[name_list],[surname_list]]

In [84]:
print(person_list)

[[['Bob', 'Babken', 'Bagrat']], [['Marley', 'Mikaelyan', 'Mesropyan']]]

In [85]:
person_list = [ name_list, surname_list]

In [86]:
print(person_list)

[['Bob', 'Babken', 'Bagrat'], ['Marley', 'Mikaelyan', 'Mesropyan']]

### List Operations
#### Accessing and updating Values in Lists
To access values in lists, use the square brackets for slicing along with the index or indices to obtain value available at that index.  
You can update single or multiple elements of lists by giving the slice on the left-hand side of the assignment operator, and you can add to elements in a list with the append() method.

In [ ]:
int_list = [1, 2, 3, 4, 5]
prime1 = 2
prime2 = 3
primes_list = [prime1, prime2]
a_10 = ['a']*10
print (primes_list)
print (a_10)
print (int_list*4)

In [3]:
list1 = ['physics', 'chemistry', 1997, 2000];

print ("Value available at index 2 : ")
print (list1[2])
list1[2] = 2001;
print ("New value available at index 2 : ")
print (list1[2])
list1[2:] = [1, 2]
print ("New values after slice update: ")
print (list1)
list1.append('new')
print ("Adding new element : ")
print (list1)

Value available at index 2 :
1997
New value available at index 2 :
2001
New values after slice update:
['physics', 'chemistry', 1, 2]
Adding new element :
['physics', 'chemistry', 1, 2, 'new']

#### Delete List Elements
To remove a list element, you can use either the del statement if you know exactly which element(s) you are deleting or the remove() method if you do not know.

In [4]:
print (list1)
del list1[2];
print ("After deleting value at index 2 : ")
print (list1)
print ("After deleting 'physics' value : ")
list1.remove('physics')
print (list1)

['physics', 'chemistry', 1, 2, 'new']
After deleting value at index 2 :
['physics', 'chemistry', 2, 'new']
After deleting 'physics' value :
['chemistry', 2, 'new']

<b>5.Python dictionary</b><br>
It is an unordered collection of items. While other compound data types have only value as an element,<br> a dictionary has a key: value pair. In order to create them we need{} brackets.<br>
While indexing is used with lists to access values, dictionary uses keys.

In [87]:
person_dict = {"Bob":"Marley","Babken":"Mikaelyan","Bagrat":"Mesropyan"}

In [29]:
print(person_dict)

{'Bob': 'Marley', 'Babken': 'Mikaelyan', 'Bagrat': 'Mesropyan'}

### Accessing Values in Dictionary
To access dictionary elements, you can use the familiar square brackets along with the key to obtain its value.

In [30]:
person_dict["Bob"]

'Marley'

If we attempt to access a data item with a key, which is not part of the dictionary, we get an error as follows:

In [5]:
person_dict["Marley"]

NameError: name 'person_dict' is not defined

### Updating Dictionary
You can update a dictionary by adding a new entry or a key-value pair, modifying an existing entry, or deleting an existing entry as shown below in the simple example:

In [9]:
girl = {'Name': 'Armine', 'Age': 20, 'Class': 'Business'}

girl['Age'] = 8; # update existing entry
girl['University'] = "AUA"; # Add new entry
girl["Father Name"]="Babken"

print (girl['Age'])
print (girl['University'])
girl

8
AUA

{'Name': 'Armine',
 'Age': 8,
 'Class': 'Business',
 'University': 'AUA',
 'Father Name': 'Babken'}

<b>6.Python import statement</b><br>
We can import a module using import statement and access the definitions inside it using the dot operator.
<br>Here is an example.

In [41]:
import numpy
import math

In [42]:
sqrt(625)

NameError: name 'sqrt' is not defined

In [43]:
math.sqrt(625)

25.0

In [44]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### The 3 building blocks

There are 3 building blocks that Python (as other programming languages) is based on. We already covered the **for** loop last time. The other two are **if/else** statement (similar to Excel if function) and **while** loop (quite similar to the for loop).
 
 - **if/else** - if/else statement is very similar to the if formula in Excel: it check a consition and provides some output if the condition is satisfied and provides some other output otherwise. However, compared to Excel if formula, this one is quite powerful, as you can add and check as many different conditions as you want (in Excel you would have to insert several IF formulas inside each other for the same purpose). For example, assume you are playing a game where a random number is generated between 1 and 100 (both included). If you get anything less than 50 you loose, else if you get exactly 50 you draw, and you win otherwise (anything more than 50). The Pythonic statement will look like this (assume that random number is saved in a variable called num):
    ```
  if num < 50:
      print("I lost :( ")
  elif num==50:
      print("Draw")
  else:
      print("I won !!! ")
     ```
     There are several important things to note from the example above. As you can see on the first row we are checking whether num iss less than 50 or not. If it is, we print "I lost :(", but if this condition is wrong we just jump to the other one: As you may have noticed, similar to **for** loop, we have the colon (:) sign at the end of the "if row", which is mandatory to have.
     The 2nd condition is presented by **elif** which stand for **else if**. As you noticed we have double equal signs here. The thing is that one equal sign(=) is used to declare a variable with some value (e.g. a=5). As it is already use dfor this purpose, we have to use double equal sign to check whether the left hand side is equal to the right hand side or not (e.g. a==5 checks whether a is really equal to 5 or not). Thus, this is what we need to use in if or elif conditions.
     Last but not least, the if statement is finished (in this example) with else statement. The latter covers all other posibilities not covered by if and elif (in this case num > 50).

In [10]:
names=["Bob","Babken","Bagrat","Amy"]

In [11]:
if names[0][0]=="B":
    print("Male")

Male

In [12]:
index=0
if names[index][0]=="Babken":
    print("Male")
elif names[index][0]=="A":
    print("Female")
else:
    print("Don't have enough information")

Don't have enough information

In [13]:
# Another example
num = 7
if num == 5:# false, so it will check the next statement
    print("Number is 5")
elif num == 11: #false, so it will check the next statement
    print("Number is 11")
elif num == 7: #true, so only the line below be executed
    print("Number is 7")
else:
    print("Number isn't 5, 11 or 7")

Number is 7

In [14]:
language='java'
if language=='python': # false, so it will check the next statement
    print("language is python")
elif language=='java': #true, so only the line below be executed, and it will not check following statements
    print('language is java')
elif language=='R':
    print('language is R')
else:
    print("No match")

language is java

### nested if statements

It is possible to have a if...elif...else statement inside another if...elif...else statement. This is called nesting in computer programming. Any number of these statements can be nested inside one another. This means that the inner if statement is the part of the outer one. Indentation is the only way to figure out the level of nesting.This can get confusing, so must be avoided if possible.

In [15]:
num = 12
if num > 5:  # true,so the nested lines will be executed
    print("Bigger than 5")
    if num <=47:     # at this time it checks this statement because it is nested in initial statement.
        print("Between 5 and 47") # this will be printed because the line above is true as well

Bigger than 5
Between 5 and 47



### For loop
Loop is a structure, series, or process the end of which is connected to the beginning.
Python’s for statement iterates over the items of any sequence (list, string or other iterable objects) in the order that they appear in the sequence.

In [16]:
for i in names:
    if i[0]=="B":
        print("Male")
    elif i[0]=="A":
        print("Female")
    else:
        print("N/A")

Male
Male
Male
Female

In [17]:
sequence = ["Narek","Ashot","Ruben","Gevorg"] # this list is a sequence of names in this case

Note we could name items in the list different from val (for example call it 'i','d' or 'name') and the code would run the same way.<br> Here val is the variable that takes the value of the item inside the sequence on each iteration.<br>
Loop continues until it reaches the last item in the sequence. The body of for loop is separated from the rest of the code using indentation.

In [18]:
names_up = []
for i in sequence:
    names_up.append(i.upper()) # making upper case each name
print(names_up)

['NAREK', 'ASHOT', 'RUBEN', 'GEVORG']

## Functions
A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing.

As you already know, Python gives you many built-in functions like len(), etc. but you can also create your own functions. These functions are called user-defined functions.

### Defining a Function

You can define functions to provide the required functionality. Here are simple rules to define a function in Python. 
- Function blocks begin with the keyword def followed by the function name and parentheses ( ( ) ).
- Any input parameters or arguments should be placed within these parentheses. You can also define parameters inside these parentheses.
- The first statement of a function can be an optional statement - the documentation string of the function or docstring.
- The code block within every function starts with a colon (:) and is indented.
- The statement return [expression] exits a function, optionally passing back an expression to the caller. A return statement with no arguments is the same as return None.

In [52]:
def superify(text):
    return ("Super"+text)

superify('AUA')

'SuperAUA'

In [53]:
superify("man")

'Superman'

In [54]:
def check_gender(name):
    if i[0]=="B":
        return("Male")
    elif i[0]=="A":
        return("Female")
    else:
        return("N/A")

In [56]:
for i in names:
    print(check_gender(i))

Male
Male
Male
Female

### The range() function
We can generate a sequence of numbers using range() function.<br> range(10) will generate numbers from 0 to 9 (10 numbers).<br>
We can also define the start, stop and step size as range(start, stop, step).<br> Step size defaults to 1 if not provided.

In [25]:
print(range(10))

range(0, 10)

Range() function does not store all the values in memory, it would be inefficient.<br> So it remembers the start, stop, step size and generates the next number on the go.<br>

To force this function to output all the items, we can use the function list().<br>

The following example will clarify it:

In [27]:
print(list(range(10)))
print(list(range(1,10,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

We can use the range() function in for loops to iterate through a sequence of numbers. <br>It can be combined with the len() function to iterate though a sequence using indexing. Here is an example.

In [30]:
for i in range(len(names)):
    print(names[i])

Bob
Babken
Bagrat
Amy

In [28]:
kings = ['Pap', 'Tigran', 'Artashes']

# iterate over the list using index
for i in range(len(kings)):
    print("Armenian king ", kings[i])

Armenian king  Pap
Armenian king  Tigran
Armenian king  Artashes

 - **while** - while loop is very similar to the for loop covered before. It is again autmoating the repetitive work, yet unlike for loop, while loop needs to have a limit to reach. In case of for, we repeate the same function/action for several times (thus, we exactly know the number of times to repeat), yet in case of while loop, we repeat the same action while a limit is reached. This means that the while loop can be an infinite loop if we do not take care of it reaching the limit. For example:
     ```
     i=0
     while i<5:
         print(i)
         i=i+1
     ```
     The loop above will first print 0, then 1,2,3,4 and will stop as 5 is not less than 5. Importantthings to note here is that again, we need to have the colon sign (:) on the "while row". Unlike for, "i" variable here is not a temporary one, which means we have to first create it (i=0). Then we have to mention the limit (i<5) and in the end we need to incrementally increase i (i=i+1) so that it reaches the limit at some time. *Note: if you do not increase it, for example in this case, then i will always stay 0 which is always less than 5. Thus, you will end up with an infinite loop.*

In [31]:
i = 1
while i <=5: # it will stop only when i is bigger than 5
    print(i)
    i = i + 1
print("Finished")

1
2
3
4
5
Finished

In [32]:
i=0
while i<len(names):
    print(names[i])
    i+=1

Bob
Babken
Bagrat
Amy

In [33]:
for i in range(9):
    print(i**2)

0
1
4
9
16
25
36
49
64

In [34]:
i=0
while i<10:
    print(i**2)
    i+=2

0
4
16
36
64

In [35]:
squares=[]
for i in range(10):
    squares.append(i**2)
    print(squares)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## List  and dictionary comprehensions

In [39]:
print([i**2 for i in range(10)])
print([i**3 for i in range(1,16,2)])
print([i**3 for i in range(1,16) if i%2!=0])
print({i:i**3 for i in range(1,16) if i%2!=0})

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 27, 125, 343, 729, 1331, 2197, 3375]
[1, 27, 125, 343, 729, 1331, 2197, 3375]
{1: 1, 3: 27, 5: 125, 7: 343, 9: 729, 11: 1331, 13: 2197, 15: 3375}

# First table scraped

In [40]:
import pandas as pd

In [41]:
tables = pd.read_html("https://www.cbinsights.com/research-unicorn-companies")

In [42]:
len(tables)

1

In [43]:
type(tables)

list

In [44]:
tables[0]

,Company,Valuation ($B),Date Joined,Country,Industry,Select Investors
0,Toutiao (Bytedance),$75,4/7/2017,China,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,Didi Chuxing,$56,12/31/2014,China,Auto & transportation,"Matrix Partners, Tiger Global Management, Sof..."
2,JUUL Labs,$50,12/20/2017,United States,Consumer & retail,Tiger Global Management
3,NaN,NaN,NaN,NaN,NaN,NaN
4,WeWork,$47,2/3/2014,United States,Other,"T. Rowe Price, Benchmark Capital, SoftBank Group"
5,Airbnb,$29.3,7/26/2011,United States,Travel,"General Catalyst Partners, Andreessen Horowit..."
6,Stripe,$22.5,1/23/2014,United States,Fintech,"Khosla Ventures, Lowercase Capital, capitalG"
7,NaN,NaN,NaN,NaN,NaN,NaN
8,SpaceX,$18.5,12/1/2012,United States,Other,"Founders Fund, Draper Fisher Jurvetson, Rothe..."
9,Epic Games,$15,10/26/2018,United States,Other,"Tencent Holdings, KKR, Smash Ventures"
10,Grab,$14.3,12/4/2014,Singapore,Auto & transportation,"GGV Capital, Vertex Venture Holdings, Softban..."
11,DoorDash,$12.6,3/1/2018,United States,"Supply chain, logistics, & delivery","Softbank Group, Sequoia Capital, Khosla Ventures"
12,Bitmain Technologies,$12,7/6/2018,China,Hardware,"Coatue Management, Sequoia Capital China, IDG ..."
13,Samumed,$12,8/6/2018,United States,Health,"Vickers Venture Partners, IKEA GreenTech"
14,Palantir Technologies,$11,5/5/2011,United States,Data management & analytics,"RRE Ventures, Founders Fund, In-Q-Tel"
15,Global Switch,$11.08,12/22/2016,United Kingdom,Hardware,"Aviation Industry Corporation of China, Essenc..."
16,Infor,$10,11/16/2016,United States,"Supply chain, logistics, & delivery","Blackstone Group, Koch Industries"
17,DJI Innovations,$10,5/6/2015,China,Hardware,"Accel Partners, Sequoia Capital"
18,One97 Communications,$10,5/12/2015,India,Fintech,"Intel Capital, Sapphire Ventures, Alibaba Group"
19,Go-Jek,$10,8/4/2016,Indonesia,"Supply chain, logistics, & delivery","Formation Group, Sequoia Capital India, Warbur..."
20,Coupang,$9,5/28/2014,South Korea,E-commerce & direct-to-consumer,"Sequoia Capital, Founder Collective, Wellingt..."
21,Guazi (Chehaoduo),$9,3/12/2016,China,E-commerce & direct-to-consumer,"Sequoia Capital China, GX Capital"
22,Coinbase,$8,8/10/2017,United States,Fintech,"Y Combinator, Union Square Ventures, DFJ Growth"
23,Instacart,$7.6,12/30/2014,United States,"Supply chain, logistics, & delivery","Khosla Ventures, Kleiner Perkins Caufield & B..."
24,UiPath,$7.1,3/2/2018,United States,Artificial intelligence,"Accel, capitalG, Earlybrid Venture Capital, Se..."
25,Snapdeal,$7,5/21/2014,India,E-commerce & direct-to-consumer,"SoftBankGroup, Blackrock, Alibaba Group"
26,NaN,NaN,NaN,NaN,NaN,NaN
27,Roivant Sciences,$7,11/13/2018,Switzerland,Health,"SoftBankGroup, Founders Fund"
28,NaN,NaN,NaN,NaN,NaN,NaN
29,Tokopedia,$7,12/12/2018,Indonesia,E-commerce & direct-to-consumer,"SoftBankGroup, Alibaba Group, Sequoia Capital ..."
...,...,...,...,...,...,...
336,58 Daojia,$1,2/18/2016,China,Internet software & services,"KKR, Alibaba Group, Ping An Insurance"
337,LinkSure Network,$1,1/1/2015,China,Mobile & telecommunications,NaN
338,Unisound,$1,7/19/2018,China,Artificial intelligence,"Qiming Venture Partners, China Internet Invest..."
339,Yidian Zixun,$1,10/17/2017,China,Mobile & telecommunications,"Phoenix New Media, Tianjin Haihe Industry Fund"
340,Tresata,$1,10/10/2018,United States,BI & Analytics,GCP Capital Partners
341,10X Genomics,$1,1/7/2019,United States,Health,"Fidelity Investments, Paladin Capital Group, M..."
342,Rent the Runway,$1,3/21/2019,United States,E-commerce & direct-to-consumer,"Bain Capital Ventures, Kleiner Perkins Caufiel..."
343,Vlocity,$1,3/26/2019,United States,Internet software & services,"Accenture, Salesforce Ventures, Sutter Hill Ve..."
344,Airwallex,$1,3/25/2019,Australia,Fintech,"DST Global, Sequoia Capital China, Tencent Hol..."
345,Casper,$1.1,3/27/2019,United States,E-commerce & direct-to-consumer,"Norwest Venture Partners, New Enterprise Assoc..."
346,Bill.com,$1,4/2/2019,United States,Fintech,"August Capital, DCM Ventures, Emergence Capita..."
347,Liquid,$1,4/3/2019,Japan,Fintech,"JAFCO Co, Bitmain Technologies, IDG Capital"
348,Red Ventures,$1,1/7/2015,United States,Other,"Silver Lake Partners, General Atlantic"
349,Sila Nanotechnologies,$1,4/16/2019,United States,Other,"Bessemer Venture Partners, Sutter Hill Venture..."
350,Dream11,$1,4/9/2019,India,Internet software & services,"Kaalari Capital, Tencent Holdings, Steadview C..."
351,Coursera,$1,4/25/2019,United States,Edtech,"New Enterprise Associates, Kleiner Perkins Cau..."
352,Poizon,$1,4/29/2019,China,Mobile & telecommunications,"DST Global, Sequoia Capital China, Gaorong Cap..."
353,BigBasket,$1,5/6/2019,India,"Supply chain, logistics, & delivery","Alibaba Group, Bessemer Venture Partners, Heli..."
354,VTS,$1,5/7/2019,United States,Internet software & services,"Trinity Ventures, Fifth Wall Ventures, OpenVie..."
355,Sumo Logic,$1,5/8/2019,United States,Data management & analytics,"Greylock Partners, Sutter Hill Ventures, Accel"
356,GetYourGuide,$1,5/16/2019,Germany,Travel,"Spark Capital, Highland Europe, Sunstone Capital"
357,Auth0,$1,5/20/2019,United States,Cybersecurity,"Bessemer Venture Partners, K9 Ventures, Trinit..."
358,OCSiAl,$1,3/4/2019,Luxembourg,Other,"A&NN, Rusnano"
359,KnowBox,$1,5/30/2019,China,Edtech,"TAL Education Group, Legend Star, Alibaba Group"
360,Loggi,$1,6/05/2019,Brazil,"Supply chain, logistics, & delivery","Qualcomm Ventures, SoftBank Group. Monashees+"
361,Yanolja,$1,6/11/2019,South Korea,Travel,"SBI Investment Korea, Partners Investment, GIC"
362,KnowBe4,$1,6/12/2019,United States,Cybersecurity,"Elephant Venture Capital, KKR, Ten Eleven Vent..."
363,Meero,$1,6/18/2019,France,Internet software & services,"Aglae Ventures, Global Founders Capital, Alven..."
364,Druva,$1,6/19/2019,United States,Data management & analytics,"Nexus Venture Partners, Tenaya Capital, Sequoi..."
365,StockX,$1,6/26/2019,United States,E-commerce & direct-to-consumer,"Google Ventures, Battery Ventures, DST Global"

In [ ]:
tables[0].to_excel("unicorn.xlsx")

In [45]:
unicorn = tables[0]

In [46]:
type(unicorn)

pandas.core.frame.DataFrame

In [47]:
unicorn.head(6)

,Company,Valuation ($B),Date Joined,Country,Industry,Select Investors
0,Toutiao (Bytedance),$75,4/7/2017,China,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,Didi Chuxing,$56,12/31/2014,China,Auto & transportation,"Matrix Partners, Tiger Global Management, Sof..."
2,JUUL Labs,$50,12/20/2017,United States,Consumer & retail,Tiger Global Management
3,NaN,NaN,NaN,NaN,NaN,NaN
4,WeWork,$47,2/3/2014,United States,Other,"T. Rowe Price, Benchmark Capital, SoftBank Group"
5,Airbnb,$29.3,7/26/2011,United States,Travel,"General Catalyst Partners, Andreessen Horowit..."

In [48]:
unicorn.tail(3)

,Company,Valuation ($B),Date Joined,Country,Industry,Select Investors
363,Meero,$1,6/18/2019,France,Internet software & services,"Aglae Ventures, Global Founders Capital, Alven..."
364,Druva,$1,6/19/2019,United States,Data management & analytics,"Nexus Venture Partners, Tenaya Capital, Sequoi..."
365,StockX,$1,6/26/2019,United States,E-commerce & direct-to-consumer,"Google Ventures, Battery Ventures, DST Global"

In [49]:
unicorn.shape

(366, 6)

In [50]:
unicorn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 6 columns):
Company             354 non-null object
Valuation ($B)      354 non-null object
Date Joined         354 non-null object
Country             354 non-null object
Industry            354 non-null object
Select Investors    353 non-null object
dtypes: object(6)
memory usage: 17.2+ KB

In [51]:
unicorn.dtypes

Company             object
Valuation ($B)      object
Date Joined         object
Country             object
Industry            object
Select Investors    object
dtype: object