## Python Regular Expressions
Regular expressions are a powerful tool for various kinds of string manipulation.
<br>Regular expressions in Python can be accessed using the **re** module, which is part of the standard library.

In [4]:
import re

In [35]:
import time
import requests
import numpy as np
import pandas as pd
from textblob import TextBlob, Word
from scrapy.http import TextResponse

In [5]:
name = "Hrant Davtyan"

In [6]:
type(name)

str

In [7]:
print(name.capitalize())
print(name.upper())
print(name.lower())

Hrant davtyan
HRANT DAVTYAN
hrant davtyan

In [8]:
# get an index of a given string
print(name.find("H"))
print(name.find("D"))
print(name.find("y"))
print(name[0],name[6],name[10])#just checking

0
6
10
H D y

In [9]:
"D" in name

True

In [10]:
"d" in name

False

In [11]:
#counts how many times a given character appears in a string
print(name.count("D"))
print(name.count("a"))

1
3

In [12]:
my_sentence = "Hrant is in Dilijan. Hrant is teaching."
my_sentence.count("Hrant")

2

In [13]:
my_sentence.find("is")

6

<b>The strip() removes white space from both left and right sides

In [14]:
name_with_spaces = "       Hrant       Davtyan "

In [15]:
name_with_spaces.strip()

'Hrant       Davtyan'

<b> The split() method splits a string into a list.

You can specify the separator, default separator is any whitespace.

In [16]:
name.split()

['Hrant', 'Davtyan']

In [17]:
name.split("a")## now the separator is the 'a'

['Hr', 'nt D', 'vty', 'n']

In [18]:
name.replace("y","i")

'Hrant Davtian'

In [19]:
#key string methods:
#find(), replace(), strip(), split(), count()

In [20]:
# . = anything (including nothing, just a space)
# * = repetition 0 or more times
# + = repetition 1 or more times

In [21]:
re.findall("Davt.+",name)

['Davtyan']

In [22]:
my_email = "Hdavtyan@aua.am"

In [23]:
re.findall(".+@.+",my_email)

['Hdavtyan@aua.am']

In [24]:
sentence = "Hrant Davtyans email is hdavtyan@aua.am"

In [0]:
re.findall(" .+@.+",sentence)

[' Davtyans email is hdavtyan@aua.am']

In [0]:
new_sentence = "Republic of Armenia received its independence in 1991000 1991"

In [0]:
re.findall("\d{4}",new_sentence)

['1991', '1991']

In [0]:
re.compile("\d{4}") #string as an input, pattern as an output

re.compile(r'\d{4}', re.UNICODE)

In [0]:
re.sub(".+ of","Kingdom of",new_sentence)

'Kingdom of Armenia received its independence in 1991000 1991'

In [0]:
new_sentence = re.sub(".+ of","Kingdom of",new_sentence)

In [0]:
new_sentence

'Kingdom of Armenia received its independence in 1991000 1991'

In [0]:
re.sub("(.+)( of)","\1Federation \2and",new_sentence)

'\x01Federation \x02and Armenia received its independence in 1991000 1991'

In [25]:
mj_song  = """
She was more like a beauty queen from a movie scene
I said don't mind, but what do you mean, I am the one
Who will dance on the floor in the round
She said I am the one, who will dance on the floor in the round
"""

In [26]:
type(mj_song)

str

In [27]:
print(mj_song.replace("She","He").replace("queen","king"))

He was more like a beauty king from a movie scene
I said don't mind, but what do you mean, I am the one
Who will dance on the floor in the round
He said I am the one, who will dance on the floor in the round

In [28]:
re.sub("She","",mj_song)

"\n was more like a beauty queen from a movie scene\nI said don't mind, but what do you mean, I am the one\nWho will dance on the floor in the round\n said I am the one, who will dance on the floor in the round\n"

In [29]:
eminem_movie = """8 Mile opened at No. 1 with $51,240,555 in its opening weekend, the then second highest opening for an R-rated movie in the U.S.[4] The film would go on to gross $116,750,901 domestically, and $126,124,177 overseas for a total of $242,875,078 worldwide.[2] The film's final domestic gross would hold the film at No. 3 in Box Office Mojo's "Pop Star Debuts" list, behind Austin Powers in Goldmember (Beyoncé) and The Bodyguard (Whitney Houston)."""

In [31]:
for i in eminem_movie.split():
    if i[0]=="$":
        print(int(i.replace(",","")[1:]))

51240555
116750901
126124177
242875078

In [32]:
re.findall("\$(\S+)",eminem_movie.replace(",",""))

['51240555', '116750901', '126124177', '242875078']

In [36]:
url = "http://books.toscrape.com/"
page = requests.get(url)
response = TextResponse(url=page.url,body=page.text,encoding="utf-8")

In [37]:
response.css("p.price_color::text").re("\d.*\d")

['51.77',
 '53.74',
 '50.10',
 '47.82',
 '54.23',
 '22.65',
 '33.34',
 '17.93',
 '22.60',
 '52.15',
 '13.99',
 '20.66',
 '17.46',
 '52.29',
 '35.02',
 '57.25',
 '23.88',
 '37.59',
 '51.33',
 '45.17']

In [48]:
response.css("p[class^='star-rating']::attr(class)").extract()

['star-rating Three',
 'star-rating One',
 'star-rating One',
 'star-rating Four',
 'star-rating Five',
 'star-rating One',
 'star-rating Four',
 'star-rating Three',
 'star-rating Four',
 'star-rating One',
 'star-rating Two',
 'star-rating Four',
 'star-rating Five',
 'star-rating Five',
 'star-rating Five',
 'star-rating Three',
 'star-rating One',
 'star-rating One',
 'star-rating Two',
 'star-rating Two']

In [47]:
response.css("p[class^='star-rating']::attr(class)").re('^star-rating.+')

['star-rating Three',
 'star-rating One',
 'star-rating One',
 'star-rating Four',
 'star-rating Five',
 'star-rating One',
 'star-rating Four',
 'star-rating Three',
 'star-rating Four',
 'star-rating One',
 'star-rating Two',
 'star-rating Four',
 'star-rating Five',
 'star-rating Five',
 'star-rating Five',
 'star-rating Three',
 'star-rating One',
 'star-rating One',
 'star-rating Two',
 'star-rating Two']

# IMDB

In [49]:
imdb_url = "https://www.imdb.com/chart/top?ref_=nv_mv_250"
page = requests.get(imdb_url)
response = TextResponse(url=page.url,body=page.text,encoding="utf-8")

In [51]:
name = response.css("td.titleColumn > a::text").extract()
href = response.css("td.titleColumn > a::attr(href)").extract()
year = response.css("span.secondaryInfo::text").re("\d{4}")## getting only first 4  digits
rating = response.css("td[class='ratingColumn imdbRating'] > strong::text").extract()

In [53]:
print(name,"\n",href,"\n",year,"\n",rating)#\n stands for new line

['The Shawshank Redemption', 'The Godfather', 'The Godfather: Part II', 'The Dark Knight', '12 Angry Men', "Schindler's List", 'The Lord of the Rings: The Return of the King', 'Pulp Fiction', 'Il buono, il brutto, il cattivo', 'Fight Club', 'The Lord of the Rings: The Fellowship of the Ring', 'Forrest Gump', 'Inception', 'Star Wars: Episode V - The Empire Strikes Back', 'The Lord of the Rings: The Two Towers', "One Flew Over the Cuckoo's Nest", 'Goodfellas', 'The Matrix', 'Shichinin no samurai', 'Avengers: Endgame', 'Se7en', 'Cidade de Deus', 'Star Wars', 'The Silence of the Lambs', "It's a Wonderful Life", 'La vita è bella', 'Sen to Chihiro no kamikakushi', 'Saving Private Ryan', 'The Usual Suspects', 'Léon', 'The Green Mile', 'Interstellar', 'Psycho', 'American History X', 'City Lights', 'Casablanca', 'Once Upon a Time in the West', 'The Pianist', 'Modern Times', 'The Intouchables', 'The Departed', 'Back to the Future', 'Terminator 2: Judgment Day', 'The Lion King', 'Whiplash', 'Rear Window', 'Gladiator', 'Raiders of the Lost Ark', 'The Prestige', 'Apocalypse Now', 'Memento', 'Alien', 'Hotaru no haka', 'Nuovo Cinema Paradiso', 'The Great Dictator', 'Spider-Man: Into the Spider-Verse', 'Sunset Blvd.', 'The Lives of Others', 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', 'Avengers: Infinity War', 'Paths of Glory', 'Django Unchained', 'The Shining', 'WALL·E', 'Mononoke-hime', 'Witness for the Prosecution', 'Oldeuboi', 'The Dark Knight Rises', 'Aliens', 'American Beauty', 'Once Upon a Time in America', 'Coco', 'Das Boot', 'Citizen Kane', 'Braveheart', 'Vertigo', 'Kimi no na wa.', 'North by Northwest', 'Reservoir Dogs', 'Star Wars: Episode VI - Return of the Jedi', 'Amadeus', 'M - Eine Stadt sucht einen Mörder', 'Requiem for a Dream', 'Toy Story', '3 Idiots', 'Dangal', '2001: A Space Odyssey', 'Taare Zameen Par', 'Eternal Sunshine of the Spotless Mind', 'Lawrence of Arabia', 'A Clockwork Orange', "Singin' in the Rain", 'Inglourious Basterds', 'Amélie', 'Double Indemnity', 'Taxi Driver', 'Full Metal Jacket', 'Good Will Hunting', 'Ladri di biciclette', 'To Kill a Mockingbird', 'The Kid', 'The Sting', 'Toy Story 3', 'Jagten', 'Snatch', 'Scarface', 'Per qualche dollaro in più', 'The Apartment', 'Metropolis', 'Monty Python and the Holy Grail', 'L.A. Confidential', 'Jodaeiye Nader az Simin', 'Indiana Jones and the Last Crusade', 'Up', 'Rashômon', 'All About Eve', 'Batman Begins', 'Some Like It Hot', 'Yôjinbô', 'Der Untergang', 'Die Hard', 'Unforgiven', 'Heat', 'Incendies', 'The Treasure of the Sierra Madre', 'Ikiru', 'Green Book', 'Raging Bull', 'The Great Escape', 'Bacheha-Ye aseman', "Pan's Labyrinth", 'Chinatown', 'Tonari no Totoro', 'Hauru no ugoku shiro', 'Ran', 'The Third Man', 'Judgment at Nuremberg', 'Babam ve Oglum', 'El secreto de sus ojos', 'The Gold Rush', 'A Beautiful Mind', 'The Bridge on the River Kwai', 'Toy Story 4', 'Casino', 'Lock, Stock and Two Smoking Barrels', 'Three Billboards Outside Ebbing, Missouri', 'Det sjunde inseglet', 'On the Waterfront', 'The Wolf of Wall Street', 'The Elephant Man', 'Inside Out', 'V for Vendetta', 'Mr. Smith Goes to Washington', 'There Will Be Blood', 'Warrior', 'No Country for Old Men', 'Blade Runner', 'Room', 'Dial M for Murder', 'The Sixth Sense', 'Smultronstället', 'Trainspotting', 'The General', 'Gone with the Wind', 'The Thing', 'Fargo', 'Idi i smotri', 'Andhadhun', 'Finding Nemo', 'Gran Torino', 'The Deer Hunter', 'Shutter Island', 'The Big Lebowski', 'Kill Bill: Vol. 1', 'Sherlock Jr.', 'Cool Hand Luke', 'Mary and Max', 'Hacksaw Ridge', 'Tôkyô monogatari', 'Jurassic Park', 'Rebecca', 'How to Train Your Dragon', 'Gone Girl', "Vayri patmut'yunner", 'The Truman Show', 'Stalker', 'The Grand Budapest Hotel', 'In the Name of the Father', 'Stand by Me', 'Salinui chueok', 'Sunrise: A Song of Two Humans', 'It Happened One Night', 'Platoon', 'Into the Wild', 'Persona', 'Network', 'Ben-Hur', 'Life of Brian', '12 Years a Slave', 'Million Dollar Baby', 'Before Sunrise', 'Hotel Rwanda', 'Prisoners', 'Mad Max: Fury Road', 'Logan', "Hachi: A Dog's Tale", 'Rush', 'Eskiya', 'Le salaire de la peur', 'Catch Me If You Can', 'Les quatre cents coups', 'Spotlight', 'Amores perros', 'Harry Potter and the Deathly Hallows: Part 2', 'Andrei Rublev', 'Kaze no tani no Naushika', "La passion de Jeanne d'Arc", 'The Princess Bride', 'Barry Lyndon', 'Shin seiki Evangelion Gekijô-ban: Air/Magokoro wo, kimi ni', 'Rocky', 'Butch Cassidy and the Sundance Kid', 'Rang De Basanti', 'Monsters, Inc.', 'Dead Poets Society', 'The Grapes of Wrath', 'The Terminator', 'Ah-ga-ssi', 'The Maltese Falcon', 'La haine', 'Gandhi', 'Faa yeung nin wa', 'Donnie Darko', 'Groundhog Day', 'The Help', 'The Wizard of Oz', 'Guardians of the Galaxy', 'Les diaboliques', 'Jaws', 'Before Sunset', 'Tenkû no shiro Rapyuta', 'Pirates of the Caribbean: The Curse of the Black Pearl', 'Da hong deng long gao gao gua', 'Paris, Texas', 'Beauty and the Beast', 'The Exorcist', 'Dog Day Afternoon', 'Akira', 'Song of the Sea', 'PK']
 ['/title/tt0111161/', '/title/tt0068646/', '/title/tt0071562/', '/title/tt0468569/', '/title/tt0050083/', '/title/tt0108052/', '/title/tt0167260/', '/title/tt0110912/', '/title/tt0060196/', '/title/tt0137523/', '/title/tt0120737/', '/title/tt0109830/', '/title/tt1375666/', '/title/tt0080684/', '/title/tt0167261/', '/title/tt0073486/', '/title/tt0099685/', '/title/tt0133093/', '/title/tt0047478/', '/title/tt4154796/', '/title/tt0114369/', '/title/tt0317248/', '/title/tt0076759/', '/title/tt0102926/', '/title/tt0038650/', '/title/tt0118799/', '/title/tt0245429/', '/title/tt0120815/', '/title/tt0114814/', '/title/tt0110413/', '/title/tt0120689/', '/title/tt0816692/', '/title/tt0054215/', '/title/tt0120586/', '/title/tt0021749/', '/title/tt0034583/', '/title/tt0064116/', '/title/tt0253474/', '/title/tt0027977/', '/title/tt1675434/', '/title/tt0407887/', '/title/tt0088763/', '/title/tt0103064/', '/title/tt0110357/', '/title/tt2582802/', '/title/tt0047396/', '/title/tt0172495/', '/title/tt0082971/', '/title/tt0482571/', '/title/tt0078788/', '/title/tt0209144/', '/title/tt0078748/', '/title/tt0095327/', '/title/tt0095765/', '/title/tt0032553/', '/title/tt4633694/', '/title/tt0043014/', '/title/tt0405094/', '/title/tt0057012/', '/title/tt4154756/', '/title/tt0050825/', '/title/tt1853728/', '/title/tt0081505/', '/title/tt0910970/', '/title/tt0119698/', '/title/tt0051201/', '/title/tt0364569/', '/title/tt1345836/', '/title/tt0090605/', '/title/tt0169547/', '/title/tt0087843/', '/title/tt2380307/', '/title/tt0082096/', '/title/tt0033467/', '/title/tt0112573/', '/title/tt0052357/', '/title/tt5311514/', '/title/tt0053125/', '/title/tt0105236/', '/title/tt0086190/', '/title/tt0086879/', '/title/tt0022100/', '/title/tt0180093/', '/title/tt0114709/', '/title/tt1187043/', '/title/tt5074352/', '/title/tt0062622/', '/title/tt0986264/', '/title/tt0338013/', '/title/tt0056172/', '/title/tt0066921/', '/title/tt0045152/', '/title/tt0361748/', '/title/tt0211915/', '/title/tt0036775/', '/title/tt0075314/', '/title/tt0093058/', '/title/tt0119217/', '/title/tt0040522/', '/title/tt0056592/', '/title/tt0012349/', '/title/tt0070735/', '/title/tt0435761/', '/title/tt2106476/', '/title/tt0208092/', '/title/tt0086250/', '/title/tt0059578/', '/title/tt0053604/', '/title/tt0017136/', '/title/tt0071853/', '/title/tt0119488/', '/title/tt1832382/', '/title/tt0097576/', '/title/tt1049413/', '/title/tt0042876/', '/title/tt0042192/', '/title/tt0372784/', '/title/tt0053291/', '/title/tt0055630/', '/title/tt0363163/', '/title/tt0095016/', '/title/tt0105695/', '/title/tt0113277/', '/title/tt1255953/', '/title/tt0040897/', '/title/tt0044741/', '/title/tt6966692/', '/title/tt0081398/', '/title/tt0057115/', '/title/tt0118849/', '/title/tt0457430/', '/title/tt0071315/', '/title/tt0096283/', '/title/tt0347149/', '/title/tt0089881/', '/title/tt0041959/', '/title/tt0055031/', '/title/tt0476735/', '/title/tt1305806/', '/title/tt0015864/', '/title/tt0268978/', '/title/tt0050212/', '/title/tt1979376/', '/title/tt0112641/', '/title/tt0120735/', '/title/tt5027774/', '/title/tt0050976/', '/title/tt0047296/', '/title/tt0993846/', '/title/tt0080678/', '/title/tt2096673/', '/title/tt0434409/', '/title/tt0031679/', '/title/tt0469494/', '/title/tt1291584/', '/title/tt0477348/', '/title/tt0083658/', '/title/tt3170832/', '/title/tt0046912/', '/title/tt0167404/', '/title/tt0050986/', '/title/tt0117951/', '/title/tt0017925/', '/title/tt0031381/', '/title/tt0084787/', '/title/tt0116282/', '/title/tt0091251/', '/title/tt8108198/', '/title/tt0266543/', '/title/tt1205489/', '/title/tt0077416/', '/title/tt1130884/', '/title/tt0118715/', '/title/tt0266697/', '/title/tt0015324/', '/title/tt0061512/', '/title/tt0978762/', '/title/tt2119532/', '/title/tt0046438/', '/title/tt0107290/', '/title/tt0032976/', '/title/tt0892769/', '/title/tt2267998/', '/title/tt3011894/', '/title/tt0120382/', '/title/tt0079944/', '/title/tt2278388/', '/title/tt0107207/', '/title/tt0092005/', '/title/tt0353969/', '/title/tt0018455/', '/title/tt0025316/', '/title/tt0091763/', '/title/tt0758758/', '/title/tt0060827/', '/title/tt0074958/', '/title/tt0052618/', '/title/tt0079470/', '/title/tt2024544/', '/title/tt0405159/', '/title/tt0112471/', '/title/tt0395169/', '/title/tt1392214/', '/title/tt1392190/', '/title/tt3315342/', '/title/tt1028532/', '/title/tt1979320/', '/title/tt0116231/', '/title/tt0046268/', '/title/tt0264464/', '/title/tt0053198/', '/title/tt1895587/', '/title/tt0245712/', '/title/tt1201607/', '/title/tt0060107/', '/title/tt0087544/', '/title/tt0019254/', '/title/tt0093779/', '/title/tt0072684/', '/title/tt0169858/', '/title/tt0075148/', '/title/tt0064115/', '/title/tt0405508/', '/title/tt0198781/', '/title/tt0097165/', '/title/tt0032551/', '/title/tt0088247/', '/title/tt4016934/', '/title/tt0033870/', '/title/tt0113247/', '/title/tt0083987/', '/title/tt0118694/', '/title/tt0246578/', '/title/tt0107048/', '/title/tt1454029/', '/title/tt0032138/', '/title/tt2015381/', '/title/tt0046911/', '/title/tt0073195/', '/title/tt0381681/', '/title/tt0092067/', '/title/tt0325980/', '/title/tt0101640/', '/title/tt0087884/', '/title/tt0101414/', '/title/tt0070047/', '/title/tt0072890/', '/title/tt0094625/', '/title/tt1865505/', '/title/tt2338151/']
 ['1994', '1972', '1974', '2008', '1957', '1993', '2003', '1994', '1966', '1999', '2001', '1994', '2010', '1980', '2002', '1975', '1990', '1999', '1954', '2019', '1995', '2002', '1977', '1991', '1946', '1997', '2001', '1998', '1995', '1994', '1999', '2014', '1960', '1998', '1931', '1942', '1968', '2002', '1936', '2011', '2006', '1985', '1991', '1994', '2014', '1954', '2000', '1981', '2006', '1979', '2000', '1979', '1988', '1988', '1940', '2018', '1950', '2006', '1964', '2018', '1957', '2012', '1980', '2008', '1997', '1957', '2003', '2012', '1986', '1999', '1984', '2017', '1981', '1941', '1995', '1958', '2016', '1959', '1992', '1983', '1984', '1931', '2000', '1995', '2009', '2016', '1968', '2007', '2004', '1962', '1971', '1952', '2009', '2001', '1944', '1976', '1987', '1997', '1948', '1962', '1921', '1973', '2010', '2012', '2000', '1983', '1965', '1960', '1927', '1975', '1997', '2011', '1989', '2009', '1950', '1950', '2005', '1959', '1961', '2004', '1988', '1992', '1995', '2010', '1948', '1952', '2018', '1980', '1963', '1997', '2006', '1974', '1988', '2004', '1985', '1949', '1961', '2005', '2009', '1925', '2001', '1957', '2019', '1995', '1998', '2017', '1957', '1954', '2013', '1980', '2015', '2005', '1939', '2007', '2011', '2007', '1982', '2015', '1954', '1999', '1957', '1996', '1926', '1939', '1982', '1996', '1985', '2018', '2003', '2008', '1978', '2010', '1998', '2003', '1924', '1967', '2009', '2016', '1953', '1993', '1940', '2010', '2014', '2014', '1998', '1979', '2014', '1993', '1986', '2003', '1927', '1934', '1986', '2007', '1966', '1976', '1959', '1979', '2013', '2004', '1995', '2004', '2013', '2015', '2017', '2009', '2013', '1996', '1953', '2002', '1959', '2015', '2000', '2011', '1966', '1984', '1928', '1987', '1975', '1997', '1976', '1969', '2006', '2001', '1989', '1940', '1984', '2016', '1941', '1995', '1982', '2000', '2001', '1993', '2011', '1939', '2014', '1955', '1975', '2004', '1986', '2003', '1991', '1984', '1991', '1973', '1975', '1988', '2014', '2014']
 ['9.2', '9.2', '9.0', '9.0', '8.9', '8.9', '8.9', '8.9', '8.8', '8.8', '8.8', '8.7', '8.7', '8.7', '8.7', '8.7', '8.7', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0', '8.0']

In [54]:
before_1990 = [i for i in year if int(i)<1990]

In [58]:
print(before_1990)

['1972', '1974', '1957', '1966', '1980', '1975', '1954', '1977', '1946', '1960', '1931', '1942', '1968', '1936', '1985', '1954', '1981', '1979', '1979', '1988', '1988', '1940', '1950', '1964', '1957', '1980', '1957', '1986', '1984', '1981', '1941', '1958', '1959', '1983', '1984', '1931', '1968', '1962', '1971', '1952', '1944', '1976', '1987', '1948', '1962', '1921', '1973', '1983', '1965', '1960', '1927', '1975', '1989', '1950', '1950', '1959', '1961', '1988', '1948', '1952', '1980', '1963', '1974', '1988', '1985', '1949', '1961', '1925', '1957', '1957', '1954', '1980', '1939', '1982', '1954', '1957', '1926', '1939', '1982', '1985', '1978', '1924', '1967', '1953', '1940', '1979', '1986', '1927', '1934', '1986', '1966', '1976', '1959', '1979', '1953', '1959', '1966', '1984', '1928', '1987', '1975', '1976', '1969', '1989', '1940', '1984', '1941', '1982', '1939', '1955', '1975', '1986', '1984', '1973', '1975', '1988']

In [55]:
len(before_1990)

116

In [57]:
for i,j in zip(year,name):
    if int(i)<1990:
        print(j)

The Godfather
The Godfather: Part II
12 Angry Men
Il buono, il brutto, il cattivo
Star Wars: Episode V - The Empire Strikes Back
One Flew Over the Cuckoo's Nest
Shichinin no samurai
Star Wars
It's a Wonderful Life
Psycho
City Lights
Casablanca
Once Upon a Time in the West
Modern Times
Back to the Future
Rear Window
Raiders of the Lost Ark
Apocalypse Now
Alien
Hotaru no haka
Nuovo Cinema Paradiso
The Great Dictator
Sunset Blvd.
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
Paths of Glory
The Shining
Witness for the Prosecution
Aliens
Once Upon a Time in America
Das Boot
Citizen Kane
Vertigo
North by Northwest
Star Wars: Episode VI - Return of the Jedi
Amadeus
M - Eine Stadt sucht einen Mörder
2001: A Space Odyssey
Lawrence of Arabia
A Clockwork Orange
Singin' in the Rain
Double Indemnity
Taxi Driver
Full Metal Jacket
Ladri di biciclette
To Kill a Mockingbird
The Kid
The Sting
Scarface
Per qualche dollaro in più
The Apartment
Metropolis
Monty Python and the Holy Grail
Indiana Jones and the Last Crusade
Rashômon
All About Eve
Some Like It Hot
Yôjinbô
Die Hard
The Treasure of the Sierra Madre
Ikiru
Raging Bull
The Great Escape
Chinatown
Tonari no Totoro
Ran
The Third Man
Judgment at Nuremberg
The Gold Rush
The Bridge on the River Kwai
Det sjunde inseglet
On the Waterfront
The Elephant Man
Mr. Smith Goes to Washington
Blade Runner
Dial M for Murder
Smultronstället
The General
Gone with the Wind
The Thing
Idi i smotri
The Deer Hunter
Sherlock Jr.
Cool Hand Luke
Tôkyô monogatari
Rebecca
Stalker
Stand by Me
Sunrise: A Song of Two Humans
It Happened One Night
Platoon
Persona
Network
Ben-Hur
Life of Brian
Le salaire de la peur
Les quatre cents coups
Andrei Rublev
Kaze no tani no Naushika
La passion de Jeanne d'Arc
The Princess Bride
Barry Lyndon
Rocky
Butch Cassidy and the Sundance Kid
Dead Poets Society
The Grapes of Wrath
The Terminator
The Maltese Falcon
Gandhi
The Wizard of Oz
Les diaboliques
Jaws
Tenkû no shiro Rapyuta
Paris, Texas
The Exorcist
Dog Day Afternoon
Akira

In [59]:
movie_dict = {"name":name,"year":year,"rating":rating,"url":href}#creating dictionary

In [60]:
movie_df = pd.DataFrame(movie_dict)#every key of dictionary become column

In [61]:
movie_df.head()

                       name  year rating                url
0  The Shawshank Redemption  1994    9.2  /title/tt0111161/
1             The Godfather  1972    9.2  /title/tt0068646/
2    The Godfather: Part II  1974    9.0  /title/tt0071562/
3           The Dark Knight  2008    9.0  /title/tt0468569/
4              12 Angry Men  1957    8.9  /title/tt0050083/

In [ ]:
movie_df.to_excel("movies.xlsx")

In [62]:
movie_df.rating.apply(float).mean()

8.259999999999973

In [63]:
movie_df.year.apply(int).mode()

0    1995
1    2014
dtype: int64