- Vectorize quotes using TF-IDF vectorizer,
    - TF: Term frequency = how frequently a term appears in the target observation 
    - IDF: Inverce document frequency = is that word unique to that selected observation
- Vectorize songs using CV vectorizer
    - CV: Count vectorizer: converts a collection of text documents to a matrix of token counts(frequences)

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
my_text = ["Follow the Moskva, down to Gorky park","I I follow, I follow you","Fly me to the moon"]
my_text

['Follow the Moskva, down to Gorky park',
 'I I follow, I follow you',
 'Fly me to the moon']

### TF-IDF vectorization

In [4]:
tf_idf = TfidfVectorizer()

In [5]:
tfidf_matrix = tf_idf.fit_transform(my_text)

In [6]:
print(tfidf_matrix.shape) #shape of matrix indicates that we have 11 unique words in 3 songs

(3, 11)

In [7]:
tf_idf.get_feature_names()

['down',
 'fly',
 'follow',
 'gorky',
 'me',
 'moon',
 'moskva',
 'park',
 'the',
 'to',
 'you']

In [8]:
words = tf_idf.get_feature_names()
data = tfidf_matrix.toarray()
df = pd.DataFrame(data,columns=words)

In [9]:
df

,down,fly,follow,gorky,me,moon,moskva,park,the,to,you
0,0.417567,0.000000,0.317570,0.417567,0.000000,0.000000,0.417567,0.417567,0.317570,0.317570,0.000000
1,0.000000,0.000000,0.835592,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.549351
2,0.000000,0.490479,0.000000,0.000000,0.490479,0.490479,0.000000,0.000000,0.373022,0.373022,0.000000

### Count Vectorizer

In [10]:
cv = CountVectorizer()

In [11]:
cv_matrix = cv.fit_transform(my_text)

In [12]:
words = cv.get_feature_names()
data = cv_matrix.toarray()
df = pd.DataFrame(data,columns=words)

In [13]:
df

   down  fly  follow  gorky  me  moon  moskva  park  the  to  you
0     1    0       1      1   0     0       1     1    1   1    0
1     0    0       2      0   0     0       0     0    0   0    1
2     0    1       0      0   1     1       0     0    1   1    0